---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/712224782849997746_260820061.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '3240'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["cph","perf","starbucks"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1399123832","link":"https:\/\/instagram.com\/p\/niVKqeAPuy\/","likes":{"count":19,"data":[{"username":"rikkemuuzz","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10914689_892111074200901_24592625_a.jpg","id":"349173345","full_name":"Rikke
        Kofoed"},{"username":"paisleypug","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_471784181_75sq_1397161466.jpg","id":"471784181","full_name":"Paisley
        Parrott"},{"username":"markusmayer13","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10362319_494300970670313_1533904212_a.jpg","id":"243373422","full_name":"Markus
        Mayer"},{"username":"mmartapb","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11055506_749152768536402_1256837889_a.jpg","id":"298605239","full_name":"Marta
        P\u00e9rez Balsalobre\u24c2\ufe0f"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-15\/s306x306\/e15\/10268857_278350775669200_647036948_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-15\/s150x150\/e15\/10268857_278350775669200_647036948_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-15\/e15\/10268857_278350775669200_647036948_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1399123832","text":"Coffee
        and @pandaamanda2 \ud83d\udc95\u2615\ufe0f #perf #starbucks #cph","from":{"username":"mathilde_enghave","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10731682_516521351817404_2085406682_a.jpg","id":"260820061","full_name":"Machill"},"id":"712224783160376092"},"user_has_liked":false,"id":"712224782849997746_260820061","user":{"username":"mathilde_enghave","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10731682_516521351817404_2085406682_a.jpg","id":"260820061","full_name":"Machill"}}}'
  recorded_at: Fri, 17 Apr 2015 13:03:46 GMT
recorded_with: VCR 2.9.3
