---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/shopbop/media/recent.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&count=100&max_tag_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4745'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"967354767761034330","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"967354767761034330","next_min_id":"967914436955416979","min_tag_id":"967914436955416979","next_url":"https:\/\/api.instagram.com\/v1\/tags\/shopbop\/media\/recent?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca\u0026count=100\u0026max_tag_id=967354767761034330"},"meta":{"code":200},"data":[{"attribution":null,"tags":["shopbop"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1429604414","link":"https:\/\/instagram.com\/p\/1uuQ1bsymT\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/11117080_671536119617084_1614621458_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11117080_671536119617084_1614621458_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/11117080_671536119617084_1614621458_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1429604414","text":"new
        shoes from #shopbop \u273a\u25df(\u2217\u275b\u0e31\u1d17\u275b\u0e31\u2217)\u25de\u273a
        Palm Tree Smoking Slippers","from":{"username":"loveasamis","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11017654_353546224854198_1871994444_a.jpg","id":"308583273","full_name":"\u2606*:.Asamis.:*\u2606"},"id":"967914438062713278"},"user_has_liked":false,"id":"967914436955416979_308583273","user":{"username":"loveasamis","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11017654_353546224854198_1871994444_a.jpg","id":"308583273","full_name":"\u2606*:.Asamis.:*\u2606"}},{"attribution":null,"tags":["shopbop","bracelet","g"],"type":"image","location":{"latitude":31.270703333,"longitude":121.387846667},"comments":{"count":0,"data":[]},"filter":"Valencia","created_time":"1429593667","link":"https:\/\/instagram.com\/p\/1uZw8anc-B\/","likes":{"count":1,"data":[{"username":"patricia.martinez.r","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11008376_1543336932613960_56986574_a.jpg","id":"1710457347","full_name":"Patricia
        Martinez"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/shopbop/media/recent.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&count=100&max_tag_id=967354767761034330
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4744'
      Content-Language:
    [...]
