---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&q=shopbop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4406'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"shopbop","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_10526532_75sq_1378239901.jpg","id":"10526532","full_name":"Shopbop"},{"username":"shopbopkz","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_552669121_75sq_1397970321.jpg","id":"552669121","full_name":"\u041a\u0430\u043c\u0438\u043b\u043b\u0430"},{"username":"shopbopq8","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_617870871_75sq_1382210040.jpg","id":"617870871","full_name":"\u0641\u0627\u0634\u0646
        \u0645\u0648\u0636\u0629 \u0645\u0643\u064a\u0627\u062c - \u0627\u0644\u0643\u0648\[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/10526532.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4405'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"shopbop","bio":"The destination
        for the fashion you love and the style you have yet to discover.","website":"http:\/\/like2b.uy\/shopbop","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_10526532_75sq_1378239901.jpg","full_name":"Shopbop","counts":{"media":1905,"followed_by":305772,"follows":475},"id":"10526532"}}'
  recorded_at: Fri, 17 Apr 2015 14:28:27 GMT
recorded_with: VCR 2.9.3
