---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/1446641248.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4373'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"thesocialsesh","bio":"Let''s
        get social\nLifestyle \u0026BeautyVloggers\nTwitter: @thesocialsesh\nYouTube
        : YouTube.com\/thesocialsesh \nEmail :thesocialsesh@gmail.com\nBritt\u0026Brina
        \u2661","website":"http:\/\/brittandbrina.blogspot.com","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/1799762_316542158517100_1078458788_a.jpg","full_name":"TheSocialSesh","counts":{"media":106,"followed_by":70,"follows":377},"id":"1446641248"}}'
  recorded_at: Fri, 17 Apr 2015 14:48:09 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/1446641248/followed-by.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&count=100&cursor=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4372'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{},"meta":{"code":200},"data":[{"username":"ndnkundi","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10584782_758155670897196_799338302_a.jpg","id":"520145451","full_name":"Shawn
        Thottu"},{"username":"the.nora","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10729338_671382342959099_1364633931_a.jpg","id":"273914706","full_name":"Elnora
        Allen"},{"username":"cjeez0714","profile_picture":"https:\/\[...]
