---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/10526532/media/recent.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&count=100&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4425'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/10526532\/media\/recent?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca\u0026count=100\u0026max_id=956567716130977318_10526532","next_max_id":"956567716130977318_10526532"},"meta":{"code":200},"data":[{"attribution":null,"tags":["todaysfrontpage"],"type":"image","location":null,"comments":{"count":14,"data":[{"created_time":"1429276332","text":"@marianacassandra
        ,olha q linda a sandalia dela!!!","from":{"username":"anacarolglo","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10956471_874133915963758_245556226_a.jpg","id":"344982717","full_name":"Ana
        Carolina Gl\u00f4"},"id":"965162292676654284"},{"created_time":"1429276427","text":"@ksidstudio
        is this you??","from":{"username":"jaymeelynn88","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_232600361_75sq_1381109945.jpg","id":"232600361","full_name":"Jaymee
        Soojian"},"id":"965163083848217856"},{"created_time":"1429277057","text":"@sonah_nav","from":{"username":"ryankitson","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/h[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/10526532/media/recent.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&count=100&max_id=956567716130977318_10526532
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4424'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/10526532\/media\/recent?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca\u0026count=100\u0026max_id=949307322966472383_10526532","next_max_id":"949307322966472383_10526532"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":40.68470136,"longitude":-73.9852776},"comments":{"count":11,"data":[{"created_time":"1428241557","text":"\ud83d\ude0a","from":{"username":"edit_shows","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_486422720_75sq_1375905777.jpg","id":"486422720","full_name":"Edit_Shows"},"id":"956481969835210661"},{"created_time":"1428242243","text":"Silver
        shoes\u2661","from":{"username":"lifeonmoon","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_207379827_75sq_13[...]
