---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca&q=anton_zaytsev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="35938880.1580f11.53c87da9327c4ea7bff07a2cea3602ca"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4415'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"anton_zaytsev","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_35938880_75sq_1388841906.jpg","id":"35938880","full_name":"Anton
        Zaytsev"},{"username":"antonzaytsev","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/925962_706668179382243_1376308820_a.jpg","id":"9834484","full_name":"Antosha"},{"username":"iamzaytsev","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10691654_1465147510439711_1622589997_a.jpg","id":"399397783","full_name":"A
        n t o n Z a y t s e v"},{"username":"antonios_7","profile_picture":"https:\/\/ig[...]
