<br/>
<br/>
<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Social Root Data</h2>
    <h3>Search for username</h3>
  </div>
</div>
<%= form_tag users_scan_show_path(username: ''), method: :get, class: 'scan-form' do %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" autofocus>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
<% end %>