<div id="chart" data-categories="<%= @xcategories.to_json %>" data-tags="<%= @tags.to_json %>" data-amount_of_days="<%= @amount_of_days %>"></div>
<%= link_to '<< Back', root_path, style: 'position: absolute; top: 20px; left: 20px; z-index: 100; color: #000' %>