<h3>Basic links</h3>
<p><%#= link_to "Get all users from all #{Tag.observed.size} tags", export_path(format: :csv) %></p>

<ul>
  <li>Totally tracking tags: <%= Tag.observed.size %>. <%= link_to 'List', tags_observed_path %></li>
  <li>Tags in csv: <%= Tag.exportable.size %></li>
  <li>Tags in charts: <%= Tag.chartable.size %></li>
</ul>