<table>
  <thead>
  <tr>
    <th>Input usernames amount</th>
    <th>Processed usernames amount</th>
    <th>Not processed</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @report.usernames.size %></td>
    <td><%= @report.input_csv.select{|r| r[2].present?}.size %></td>
    <td><%= (@report.usernames.map(&:downcase) - @report.input_csv.select{|r| r[2].present?}.map{|r| r[0]}).join(', ') %></td>
  </tr>
  </tbody>
</table>