.profile-page {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;

  .header {
    padding: 20px 0;
    margin-bottom: 45px;

    .avatar{
      text-align: center;
      margin-bottom: 15px;
      img{}
    }

    .author-info{
      .username-and-follow{
        .username{
          font-size: 34px;
          font-weight: normal;
          margin: 5px 0 10px;
        }
      }
      .biography{
        margin: 10px 0;
        .full-name{
          font-weight: bold;
        }
      }

      .additional{
        margin: 10px 0;
      }
    }

    .statistics{
      list-style: none;
      margin: 10px 0;
      padding: 0;
      display: table;

      .statistic{
        display: table-row;
        margin-right: 20px;

        .statistic-label{
          display: table-cell;
          padding-right: 5px;
        }
        .statistic-value{
          display: table-cell;
        }
      }
    }

    .followers-info{
      .desc{
        font-size: 12px;
        font-style: italic;
        line-height: 1.3;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

#followers-bars{
  width: 100%;
  height: 300px;
}



.scan-form{
  margin-top: 18px;

  input[type=text]{
    width: 280px;
    display: inline-block;
    vertical-align: top;
  }

  button{
    display: inline-block;
    vertical-align: top;
  }
}