<h1>Reports#followers</h1>
<p>Find me in app/views/reports/followers.html.erb</p>
<%= form_tag do %>
<div class="input">
  <label for="">Instagram name</label>
  <%= text_field_tag :name %>
</div>
  <%= button_tag 'submit' %>
<% end %>