<h1>New followers report</h1>
<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for @report, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
      <%= f.input :input, as: :text, hint: 'Each username on new line' %>
      <%#= f.input :format, as: :radio_buttons, collection: [['Followers', 'followers']] %>
      <%= f.input :notify_email, hint: 'Enter your email if you want to be notified after report finished' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>